<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    circular dependency correct when singleton + setter.
    there is exception when prototype + setter.
    if one singleton with another prototype, circular dependency correct.
    -->
    <bean id="husbandBean" class="com.sm.bean.setterMode.Husband" scope="singleton">
        <property name="name" value="Jackson"/>
        <property name="wife" ref="wifeBean"/>
    </bean>
    <bean id="wifeBean" class="com.sm.bean.setterMode.Wife" scope="prototype">
        <property name="name" value="Cindy"/>
        <property name="husband" ref="husbandBean"/>
    </bean>
</beans>